**/.DS_Store
**/__MACOSX
*.docker
**__pycache__
**/*.log
**/logs/*
**/*_pb2*
*workspace
**/remote_services
**/node_modules
**/models
**/DB_nwdaf
**/data
.vscode
.idea
*.gz
**/build
**egg-info
**/.ipynb_checkpoints